ACTION=="change", KERNEL=="zram0", ATTR{initstate}=="1", SYSCTL{vm.swappiness}="150", \
    RUN+="/bin/sh -c 'echo N > /sys/module/zswap/parameters/enabled'"
